.first {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.simage {
  width: 160px;
}
.select {
  background-color: #262e38;
  color: #fc7614;
  text-align: center;
  border-radius: 20px;
  width: 40%;
  height: 30px;
  padding-inline: 10px;
  margin-left: 115px;
  position: relative;
  top: 10px;
}
.rates {
  position: relative;
  top: 4px;
}

.foot {
  text-align: center;
  color: white;
  position: relative;
  top: 30px;
}
.foot p {
  color: #969fad;
}
